.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: #5b83d7;
      outline: none;
      border: none;
      width: 90px;
      padding: 5px 8px;
      height: 40px;
      border-radius: 8px;
      margin-right: 32px;
      cursor: pointer;
      box-shadow: 1px 1px 10px #888888;
    }
  }

  &__table {
    margin-top: 16px;
  }
}

.header__panel-name {
  display: flex;
  align-items: center;
  color: #6d7c9d;

  ng-icon {
    margin-right: 6px;
  }

  p {
    font-weight: 500;
  }
}
