<div class="wrapper">
    <div class="wrapper__item-thumbnail">
        <div class="wrapper__item-thumbnail__item-image"></div>

        <button class="wrapper__item-thumbnail__overlay">
            <ng-icon name="saxCameraBold" />
            <input type="file" #fileInput accept="image/*" (change)="onChangeFileInput()" />
        </button>
    </div>

    <div class="wrapper__desc">
        <h4>Create a new item</h4>
        <p>Change how Untitled UI looks and feels in your browser</p>
    </div>
</div>