.wrapper {
  flex-basis: 30%;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 8px 15px;
}

.menu-item-header svg {
  width: 128px;
  height: 110px;
}

.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 16px 8px;
  color: #373737;
  text-decoration: none;
}

.menu-item.active {
  color: #5b83d7;
}

.menu-item:hover {
  color: #5b83d7;
}

.menu-item > ng-icon {
  margin-right: 8px;
}
